
braintree==4.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
defusedxml==0.6.0
Django==2.2.13
django-allauth==0.41.0
django-cors-headers==3.2.1
django-countries==6.1.2
django-decouple==2.1
django-payments==0.13.0
django-rest-auth==0.9.5
djangorestframework==3.11.0
oauthlib==3.1.0
idna==2.9
mysqlclient==1.3.13
oauthlib==3.1.0
paywix==4.3.4
Pillow==8.2.0
pkg-resources==0.0.0
pycparser==2.20
pycrypto==2.6.1
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
sqlparse==0.3.1
stripe==2.45.0
suds-jurko==0.6
urllib3==1.25.9
xmltodict==0.12.0
